.ptm-current-line {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}

.cm-editor .cm-cursorLayer { /* stylelint-disable-line selector-class-pattern */
  z-index: 200;
}

.ptm-first-open {
  .ptm-current-line {
    display: none;
  }
}

body.ptm-highlight-current-line-only-in-active-editor {
  .cm-editor:not(.cm-focused) {
    .ptm-current-line {
      display: none;
    }
  }
}

body.ptm-highlight-current-line-only-in-writing-focus-mode:not(.ptm-focus-mode) {
  .ptm-current-line {
    display: none;
  }
}

