body.ptm-fade-lines {
  .ptm-current-line-fade-before {
    display: block;
    position: absolute;
    height: 100vh;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 100;
    background: linear-gradient(to top, transparent, var(--background-primary) var(--ptm-fade-lines-intensity));
  }

  .ptm-current-line-fade-after {
    display: block;
    position: absolute;
    height: 100vh;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 100;
    background: linear-gradient(to bottom, transparent, var(--background-primary) var(--ptm-fade-lines-intensity));
  }
}
