@mixin ptm-current-line-highlight-theme-style($theme, $style) {
  &.ptm-highlight-current-line {
    .ptm-current-line {
      @if $theme == "light" {
        mix-blend-mode: multiply;
      } @else if $theme == "dark" {
        mix-blend-mode: screen;
      }

      @if $style == "box" {
        background-color: var(--current-line-highlight-color-#{$theme});
      } @else if $style == "underline" {
        border-bottom: var(--current-line-highlight-underline-thickness) solid var(--current-line-highlight-color-#{$theme});
      }
    }
  }
}

body.theme-light {
  &.ptm-current-line-highlight-box {
    @include ptm-current-line-highlight-theme-style("light", "box");
  }

  &.ptm-current-line-highlight-underline {
    @include ptm-current-line-highlight-theme-style("light", "underline");
  }
}

body.theme-dark {
  &.ptm-current-line-highlight-box {
    @include ptm-current-line-highlight-theme-style("dark", "box");
  }

  &.ptm-current-line-highlight-underline {
    @include ptm-current-line-highlight-theme-style("dark", "underline");
  }
}

body.ptm-current-line-pause-while-scrolling {
  .cm-editor.ptm-scroll {
    .ptm-current-line {
      opacity: 0;
    }
  }
}

body.ptm-current-line-pause-while-selecting {
  .cm-editor.ptm-select {
    .ptm-current-line {
      opacity: 0;
    }
  }
}
