.ptm-dim-unfocused-paragraphs {
  &[data-ptm-dim-unfocused-editors-behavior="dim"] {
    &:not(.ptm-dim-unfocused-paragraphs-pause-while-scrolling, .ptm-dim-unfocused-paragraphs-pause-while-selecting) .cm-editor:not(.ptm-first-open),
    &.ptm-dim-unfocused-paragraphs-pause-while-scrolling:not(.ptm-dim-unfocused-paragraphs-pause-while-selecting) .cm-editor:not(.ptm-wheel, .ptm-first-open),
    &.ptm-dim-unfocused-paragraphs-pause-while-selecting:not(.ptm-dim-unfocused-paragraphs-pause-while-scrolling) .cm-editor:not(.ptm-select, .ptm-first-open),
    &.ptm-dim-unfocused-paragraphs-pause-while-scrolling.ptm-dim-unfocused-paragraphs-pause-while-selecting .cm-editor:not(.ptm-wheel, .ptm-select, .ptm-first-open) {
      .CodeMirror-lines:not(.selecting) .CodeMirror-code > :not(.CodeMirror-activeline), .cm-line:not(.cm-active) {
        opacity: var(--dimmed-paragraphs-opacity);
      }
    }
  }

  &[data-ptm-dim-unfocused-editors-behavior="dim-none"],
  &[data-ptm-dim-unfocused-editors-behavior="dim-all"] {
    &:not(.ptm-dim-unfocused-paragraphs-pause-while-scrolling, .ptm-dim-unfocused-paragraphs-pause-while-selecting) .cm-editor.cm-focused:not(.ptm-first-open),
    &.ptm-dim-unfocused-paragraphs-pause-while-scrolling:not(.ptm-dim-unfocused-paragraphs-pause-while-selecting) .cm-editor.cm-focused:not(.ptm-wheel, .ptm-first-open),
    &.ptm-dim-unfocused-paragraphs-pause-while-selecting:not(.ptm-dim-unfocused-paragraphs-pause-while-scrolling) .cm-editor.cm-focused:not(.ptm-select, .ptm-first-open),
    &.ptm-dim-unfocused-paragraphs-pause-while-scrolling.ptm-dim-unfocused-paragraphs-pause-while-selecting .cm-editor.cm-focused:not(.ptm-wheel, .ptm-select, .ptm-first-open) {
      .CodeMirror-lines:not(.selecting) .CodeMirror-code > :not(.CodeMirror-activeline), .cm-line:not(.cm-active) {
        opacity: var(--dimmed-paragraphs-opacity);
      }
    }
  }

  &[data-ptm-dim-unfocused-editors-behavior="dim-all"] .cm-editor:not(.cm-focused) {
    .CodeMirror-lines:not(.selecting) .CodeMirror-code, .cm-line {
      opacity: var(--dimmed-paragraphs-opacity);
    }
  }
}
