body.ptm-highlight-current-line {
  .ptm-current-line-highlight {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 100;
  }

  &.ptm-highlight-current-line-only-in-active-editor {
    .cm-editor:not(.cm-focused) {
      .ptm-current-line-highlight {
        display: none;
      }
    }
  }

  .ptm-wheel {
    .ptm-current-line-highlight {
      display: none;
    }
  }

  .ptm-first-open {
    .ptm-current-line-highlight {
      display: none;
    }
  }
}

@mixin ptm-current-line-highlight-theme-style($theme) {
  &.ptm-highlight-current-line {
    .ptm-current-line-highlight {
      @if $theme == "light" {
        mix-blend-mode: multiply;
      } @else if $theme == "dark" {
        mix-blend-mode: screen;
      }

      &.ptm-current-line-highlight-box {
        background-color: var(--current-line-highlight-color-#{$theme});
      }

      &.ptm-current-line-highlight-underline {
        border-bottom: var(--current-line-highlight-underline-thickness) solid
          var(--current-line-highlight-color-#{$theme});
      }
    }
  }
}

body.theme-light {
  @include ptm-current-line-highlight-theme-style("light");
}

body.theme-dark {
  @include ptm-current-line-highlight-theme-style("dark");
}
