body.plugin-typewriter-mode {
  &.plugin-typewriter-mode-zen {
    &:not(.plugin-typewriter-mode-zen-pause-while-scrolling),
    // prettier-ignore
    &.plugin-typewriter-mode-zen-pause-while-scrolling {
      &:not(.plugin-typewriter-mode-wheel, .plugin-typewriter-mode-select) {
        // prettier-ignore
        .CodeMirror-lines:not(.selecting) .CodeMirror-code > :not(.CodeMirror-activeline) {
          opacity: var(--zen-opacity);
        }

        .cm-editor.cm-focused .cm-line:not(.cm-active) {
          opacity: var(--zen-opacity);
        }
      }
    }
  }

  #plugin-typewriter-mode-typewriter-line {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    box-sizing: content-box;
    padding-top: 2px;
    padding-bottom: 2px;

    &.plugin-typewriter-mode-typewriter-line-box {
      background-color: var(--typewriter-line-color);
      mix-blend-mode: screen;
    }

    &.plugin-typewriter-mode-typewriter-line-underline {
      border-bottom: 2px solid var(--typewriter-line-color);
    }
  }

  &.plugin-typewriter-mode-highlight-line {
    &:not(.plugin-typewriter-mode-wheel, .plugin-typewriter-mode-select) {
      #plugin-typewriter-mode-typewriter-line {
        display: block;
      }
    }
  }
}

.typewriter-mode-setting.setting-item.is-disabled {
  opacity: 0.5;
}
